

html, body {
    width: 100%;
    height: 100%;
    
    margin: 0px;
    
    font-family: Lato;
}

.navBar {
    position: fixed;
    width: 100%;

    display: flex;
    justify-content: space-between;

    margin: 0px;
    padding: 0px;
}

.navBar h2 {
    margin: 15px;
}

.navBar ul {
    display: flex;
    justify-content: space-around;
    flex-direction: row;

    margin-right: 20px;

    list-style-type: none;
}

.navBar li {
    margin: 10px;
}



main {
    width: 100%;
    height: 100%;

    background-image: url(background.jpg);
    background-size: 100%;
    background-position: fixed;

    color: #A1C6D9;
}

main .overlay {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0.5+0,0.5+100 */
background: -moz-linear-gradient(top,  rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#80000000',GradientType=0 ); /* IE6-9 */

}

main h1 {
    margin: 0px;

    font-size: 4em;
}

main p {
    font-size: 1.2em;
}