html, body {
    width: 100%;
    height: 100%;
    
    margin: 0px;
    
    font-family: Lato;
}

html:not([data-scroll='0']) nav{
    background-color: white;

    color: #333;
    box-shadow: 0 0 .5em rgba(0, 0, 0, .5);

    transition: all 0.5s ease-in;
}

.navBar {
    position: fixed;
    width: 100%;

    display: flex;
    justify-content: space-between;

    margin: 0px;
    padding: 0px;

    color: white;
    transition: all 0.3s ease-in;
}

.navBar h2 {
    margin: 15px;
    padding-top: 6px;
    padding-left: 25px;

    font-family: 'Abril Fatface';
}

.navBar ul {
    display: flex;
    justify-content: space-around;
    flex-direction: row;

    margin-right: 20px;

    list-style-type: none;
}

.navBar li {
    margin: 5px 10px 5px 10px;
    padding: 5px 0px 5px 0px;
    background-clip: padding-box;

    
    border:0px solid transparent;
    border-bottom-width: 1px;

    cursor: pointer;
    transition: all 0.2s ease-out;
}

.navBar li:hover {

    color: rgb(105, 207, 255);
    border-color: rgb(105, 207, 255);
    border-bottom-width: 1px;

    transition: all 0.2s ease-out;
}

main {
    width: 100%;
    height: 100%;

    margin: 0px;

    background-image: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment:fixed;

    font-family: 'Abril Fatface', cursive;
    letter-spacing: 1px;
    color: white;
}

main .overlay {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0.5+0,0.5+100 */
background: -moz-linear-gradient(top,  rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.8) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#80000000',GradientType=0 ); /* IE6-9 */

}

main h1 {
    margin: 0px 10px 20px 10px;

    letter-spacing: 6x;
    font-size: 3.5em;
}

main .miniHeader {
    font-size: 2em;

    margin: 0px;
}

main .headerText {
    width: 500px;
    margin: 0px 0px 20px 0px;

    font-size: 1em;
}

main .mainButton {
    margin: 20px;
    padding: 10px 20px 10px 20px;

    
    border: 1px solid white;

    cursor:pointer;
    color: white;
    font-size: 1.2em;

    transition: all 0.3s ease-out;
}

main .mainButton:hover {
    background-color: white;
    color: #333;

    transition: all 0.3s ease-in;
}

.pricingSection {
    margin: 0px;

    background-color: rgb(210, 238, 255);
}

.pricingSection header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricingSection header p {
    text-align: center;
    width: 500px;

    margin: 10px;
    padding: 0px;

    font-size: 16px;
    line-height: 35px;
}

.pricingSection .priceHeading {
    text-align: center;

    margin: 0px;
    padding: 20px 0px 0px 0px;

    font-family: 'Abril Fatface';
    font-size: 3em;
    letter-spacing: 1px;
}

.pricingSection div {
    display: flex;
    justify-content: space-around;
}

.productSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 50px 0px 50px 0px;
    padding-bottom: 35px;

    width:250px;

    background-color: hsl(216, 100%, 55%);
    border: 1px solid rgb(210, 238, 255);
    border-radius: 5px;
}

.productSection ul {
    width: 100%;

    margin: 0px;
    padding: 0px;
    text-align: center;
    list-style-type:none;
}

.productSection h2 {
    margin: 0px;
    padding: 10px 0px;
    text-align: center;

    font-size: 28px;
    font-family: 'Abril Fatface';
}

.productSection li {
    width: 100%;
    padding: 5px 0px;

    font-size: 20px;
}

.productSection .odd {
    background-color: white;
}

.productSection .even {
    background-color: lightgray;
}

#premium {
    background-color: hsl(279, 100%, 50%);
}

#enterprise {
    background-color: hsl(48, 100%, 55%);
}

.testimonySection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;

    background-color: hsl(216, 58%, 41%);
}

.testimonySection h2 {
    margin: 0px;
    padding: 20px 0px 0px 0px;

    font-family: 'Abril Fatface';
    font-size: 3em;
    letter-spacing: 1px;
    color: white;
}